 <!DOCTYPE html>
 <html lang="en">
<%- include("./partials/header.ejs") %>

<body>
    <div class="container">
      <div class="device">
        <%- include("./partials/greeting.ejs") %>


          <div class="videobox">
            <div class="wrapper">
              <h3>ORDER CONFIRMATION</h3>
            </div>
          </div>

          <div class="recipes">


  <main class="ticket-system">
     <div class="top">
       <h1 class="title"></h1>
        <div class="printer"></div>
          <div class="receipts-wrapper">
            <div class="receipts">
              <div class="receipt">
                <div class="details">
                 <div class="item">
                    <span>Customer Name</span>
                      <h3><%= detail.buyer.first %> <%= detail.buyer.last %></h3>
                 </div>
                  <div class="item">
                    <span> Customer Phone </span>
                      <h3><%= detail.buyer.phone %></h3>
                  </div>
                  <div class="item">
                    <span>Customer Address</span>
                    <h3><%= detail.buyer.address %></h3>
                  </div>
                  <div class="item">
                    <span>item(s) Purchased</span>
                    <h3><%= detail.chop.quantity %> <%= detail.chop.name %></h3>
                  </div>
                  <div class="item">
                    <span>Amount Paid</span>
                    <h3><%= detail.chop.price %></h3>
                  </div>
                  <div class="item">
                    <span>Order Date</span>
                    <h3><%= detail.createdAt%></h3>
                 </div>
              </div>
           </div>
        </div>
     </div>
</div>
  </main>
           │ <%- include("./partials/nav.ejs") %>
      </div>
    </div>
  </body>
  </html>

