<html lang="en">

<%- include("../partials/header.ejs")  %>

 <body>

  
  </div>
<div class="container">
      <div class="device">
<%- include("../partials/greeting.ejs") %>

        <body>
          <div class="blogs content">
            <div class="detail content">
    <h2><%= blog.title %></h2>

    <div class="content">
      <p><%= blog.body %></p>
    </div>
    <a class="delete" data-doc"<%= blog._id %>">delete</a>

          </div>
      </div>

<%- include("../partials/nav.ejs")  %>

</body>
</html>
