<!DOCTYPE html>
<html lang="en">

<%- include("../partials/header.ejs") %>

  <body>

    <%- include("../partials/chopsnav.ejs") %>

      </section>

      <section class="sellers">
        <h1>The Chops</h1>
        <p>Salivate over the entirety of our Menu......</br> ......then place an order.</p>

        <div class="row">

          <div class="sellers-col">
            <h3>BROWNIES</h3>

            <% items.forEach((item)=> { %>
              <a class="single" href="/cake/<%= item._id %>">
                <h3>
                  <%= item.name%>
                </h3>
                <h3>
                  <%= item.price%>
                </h3>
                <h3>
                  <%= item.size%>
                </h3>
                <h3>
                  <%= item.quantity%>
                </h3>
                <h3>
                  <%= item.available%>
                </h3>
                <% }) %>
          </div>
        </div>
        </div>
      </section>

      <%- include("../partials/footer.ejs") %>
  </body>

</html>
