<!DOCTYPE html>
<html lang="en">

<%- include("../partials/header.ejs") %>

  <body>
    <div class="container">
      <div class="device">
        <%- include("../partials/greeting.ejs") %>

          <div class="videobox">

            <div class="wrapper">
              <!-- <button type="button" class="play"></button> -->
              <h3>SELECT CUPCAKES</h3>
            </div>
          </div>

          <div class="recipes">
            <% items.forEach ( (item)=>{ %>
              <form action="/cakes" method="POST">
                <div class="recipe detail">
                  <img src="/images/bentocakepack.jpg" alt="">

                  <div class="description">


                    <div class="info">
                      <span>
                        <%= item.quantity %>
                      </span>
                      <span>
                        <%= item.name%>
                      </span>
                    </div>

                    <div class="size">
                      <span>Size <%= item.size %></span>

                    </div>
                    <div class="price">
                      <span>
                        <%= item.price %> Naira
                      </span>
                    </div>
                  </div>
                </div>
              </form>
              <% })%>

          </div>
          <%- include("../partials/nav.ejs") %>
      </div>
    </div>
  </body>

</html>
