<html lang="en">

<%- include("../partials/header.ejs")  %>

 <body>

 <%- include("../partials/nav.ejs")  %>

  <div class="detail content">
    <h2><%= item.name %></h2>

    <div class="content">
      <p><%= item.price %></p>
    </div>
  </div>
<%- include("../partials/footer.ejs")  %>

</body>
</html>
